/node_modules
/public/build
/public/css
/public/fonts
/public/images
/public/js
/public/storage
/public/vendor
/resources/assets/bower
/resources/assets/generated
/storage/debugbar
/vendor
/.idea
_ide_helper.php
Homestead.json
Homestead.yaml
.env
